<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Security</a>





  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" >
      <li class="nav-item" [class.active]="path=='/'">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li  class="nav-item" [class.active]="path=='/admin'">
        <a class="nav-link" routerLink="admin">Admin</a>
      </li>
       <li  class="nav-item" [class.active]="path=='/history'">
        <a class="nav-link" routerLink="history">Search History</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="one">Hi {{thisUser.first_name}}! </a>
      </li> 
      <li class="nav-item"> </li>
    </ul>
  </div>



<span class="navbar-toggler-right uphoto"><img [src]="thisUser.photoURL" alt="..." class="rounded-circle userphoto"></span>

</nav>